/* font styles */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */

.orange {
  color: #e95a08;
}

.para-text {
  font-size: 22px;
  color: #00000050;
}

.btn-primary {
  background-color: #e95a08;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.heading-text-4 {
  font-size: 50px;
  font-weight: bold;
}

/* header styles  */

/* nav styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px;
  /* padding: 10px 20px; */
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li a {
  text-decoration: none;
  color: #8987a1;
}

.navbar li a:hover {
  color: #4a4a4a;
}

.navbar-links {
  padding: 20px 0;
}

/* banner styles */

.banner {
  display: flex;
  margin: 120px 150px;
  align-items: flex-end;
  justify-content: center;
}

.banner-orange {
  font-size: 65px;
  font-weight: bold;
  color: #e95a08;
}

.banner-text h3 {
  font-size: 65px;
  font-weight: bold;
}

/* plants section */

.plants {
  text-align: center;
  margin: 120px 150px;
}

.plants p {
  margin: 50px 0;
}

.plant-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 22px;
}

/* .card h6 {
  font-weight: 400;
} */
.card h5 {
  font-weight: 400;
}

.usd {
  font-weight: 800;
  margin: 20px 0;
}

.plants-btn {
  width: 100%;
}

/* flower lover styles */

.flower-lover {
  display: flex;
  margin: 130px 150px;
  justify-content: space-between;
}

.badge {
  width: 285px;
  height: auto;
  /* margin-top: -100px; */
}

.flower-lover-text {
  align-items: center;
}

.flower-lover-text li {
  list-style: disc;
}

/* latest deals styles */

.latest-deals {
  text-align: center;
  margin: 120px 150px;
}

.latest-deals p {
  margin: 20px auto 120px;
}

.latest-deals-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  /* width: 100%; */
  color: white;
}

.latest-deals-container a {
  text-decoration: none;
  color: white;
}

.bloom-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assets/deal-bloom.png");
  height: 150px;
}

.ana-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assets/deal-ana.png");
}

.zabo-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assets/deal-zabo.png");
}

/* join bunch styles */

.join-bunch {
  padding: 200px 300px;
  justify-content: center;
  background-image: url("assets/news-letter-bg.png");
  background-repeat: no-repeat;
  width: 100%;
}

.join-bunch h3 {
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.email-subs {
  display: flex;
  justify-content: center;
}

.email {
  width: 650px;
}

.subs-btn {
  padding: 25px 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 50px 160px;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}

footer li {
  list-style: none;
}

footer li a {
  text-decoration: none;
  color: #8987a1;
}

/* responsive styles */

@media screen and (max-width: 576px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
}
