/* font styles */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */

.orange {
  color: #e95a08;
}

.para-text {
  font-size: 22px;
  color: #00000050;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
  background-color: #e95a08;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.h4-noto {
  font-size: 50px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header styles starts  */
/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li a {
  text-decoration: none;
  color: #8987a1;
}

.navbar li a:hover {
  color: #4a4a4a;
  font-size: 1.1em;
}

.navbar-links {
  padding: 20px 0;
}

/* banner styles */

.banner {
  display: flex;
  margin: 120px 150px;
  align-items: flex-end;
  justify-content: center;
}

.banner-title {
  font-size: 65px;
  font-weight: 700;
}

/* header styles ends */
/* main styles starts */

/* plants section */

.plants {
  text-align: center;
  margin: 120px 150px;
}

.plants p {
  margin: 50px 0;
}

.plant-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 22px;
}

.lily {
  font-weight: 400;
}

.usd {
  font-weight: 700;
  margin: 10px 0;
}

.plants-btn {
  width: 100%;
}

/* flower lover styles */

.flower-lover {
  display: flex;
  margin: 130px 150px;
  justify-content: center;
  align-items: center;
  /* justify-items: right; */
}

.flower-badge {
  display: flex;
}

.badge {
  width: 285px;
  margin-top: -100px;
  margin-left: -200px;
}

.flower-lover-text {
  width: 50%;
  align-items: center;
}

/* latest deals styles */

.latest-deals {
  text-align: center;
  margin: 120px 150px;
}

.latest-deals p {
  margin: 20px auto 120px;
}

.latest-deals-container {
  height: 400px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.latest-deals-container a {
  color: white;
}

.latest-deals-verticle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latest-deals-container img {
  border-radius: 20px;
}

.opacity {
  -webkit-filter: contrast(0.7);
}

.container {
  position: relative;
}

.text-block-small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

/* join bunch styles */

.join-bunch {
  padding: 200px 300px;
  justify-content: center;
  background-image: url("assets/news-letter-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
}

.join-bunch-title {
  justify-items: center;
  color: white;
}

.email-subs {
  display: flex;
  justify-content: center;
}

.email {
  width: 650px;
}

.subs-btn {
  padding: 15px 50px;
}

input::placeholder {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  padding-left: 20px;
}

/* footer styles */

footer {
  display: flex;
  margin: 50px 160px;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 40%;
}

footer li {
  list-style: none;
}

footer li a {
  text-decoration: none;
  color: #8987a1;
}

footer li a:hover {
  color: #4a4a4a;
  font-size: 1.1em;
}

.footer-link-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon {
  display: flex;
  gap: 25px;
}

/* responsive styles */

@media screen and (max-width: 576px) {
  /* shared styles */

  .para-text {
    font-size: 14px;
  }

  .h4-noto {
    font-size: 24px;
  }

  /* header styles starts  */
  /* navbar styles */

  .navbar {
    margin: 65px 15px;
  }

  .sm-navbar {
    display: none;
  }

  .navbar-links {
    padding: 10px 0;
  }

  /* banner styles */

  .banner {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px 15px;
  }

  .banner-title {
    font-size: 24px;
    font-weight: 700;
  }

  .banner img {
    /* display: flex; */
    /* justify-content: right; */
    width: 100%;
  }

  /* header styles ends */
  /* main styles starts */

  /* plants section */

  .plants {
    margin: 30px 15px;
  }

  .plants p {
    margin: 20px 0;
  }

  .plant-cards-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 576px;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
  }

  .plant-cards-container img {
    width: 50%;
  }

  /* flower lover styles */

  .flower-lover {
    flex-direction: column;
    margin: 40px 20px;
  }

  .flower-lover img {
    width: 100%;
  }

  .badge {
    display: none;
  }

  .flower-lover-text {
    width: 100%;
  }

  /* latest deals styles */

  .latest-deals {
    margin: 100px 20px;
  }

  .latest-deals p {
    margin: 20px auto 80px;
  }

  .latest-deals-container {
    height: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .zabo img {
    height: 200px;
  }

  .text-block {
    font-size: 20px;
  }

  /* join bunch styles */

  .join-bunch {
    padding: 80px 30px;
    background-size: auto;
  }

  .email {
    width: 300px;
  }

  .subs-btn {
    padding: 15px 20px;
  }

  /* footer styles */

  footer {
    flex-direction: column;
    margin: 50px 20px;
    align-items: start;
  }

  .footer-logo {
    width: 100%;
  }

  .footer-link-container {
    margin: 20px 0;
  }
}
